<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta name="viewport" content="width=device-width">
 <title>Akirastack Email Template</title>
<!-- <link rel="stylesheet" href="../css/email-template.css">-->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body style="overflow-x: hidden; width: 100%; margin:15px 0; font-family: 'Lato',sans-serif; padding:15px; display:block; background-color: #f9f9f9;  text-align: center;line-height:1.6; color:#222222; font-size:16px;">
  <table style="max-width:100%;width:650px;background-color: #ffffff;margin: 0 auto; text-align: left;padding: 0;border: 0;" cellspacing="0" cellpadding="0">
      <tbody style="background: linear-gradient(to bottom, #ffffff, #f7f7eb);">
          <tr>
              <td style="text-align:right;padding: 15px 30px;">
                  <a href="#"style="display: inline-block;"><img src="cid:Page-1.png" style="display: inline-block;line-height: 60px; vertical-align:middle; max-width:150px;" alt="Akirastack Logo"></a>
              </td>
          </tr>
          <tr>
              <td>
                  <table style=" width: 100%; border: 0;" cellspacing="0" cellpadding="0">
                      <tr>
                          <td style="text-align: center;padding-bottom: 30px;">
                              <p style="color: green;">Greetings!!</p>  
                              <h2 style="font-weight: 900; color: #151515; font-size: 32px; margin: 0px 0px 16px; line-height:1.3;">MetaSecure Cloud Native<br> Application Security</h2>
                          </td>
                      </tr>
                      <tr>
                          <td style="width:100%; text-align:center;">
                              <img src="cid:email-template-illustration.png">
                          </td>
                      </tr>
                      <table style="padding: 20px 40px; width: 100%" border="0" cellspacing="1" cellpadding="4">
                          <thead>
                              <tr>
                                  <th colspan="2" style="text-align: center; font-weight: 700;">Thank you for using our services. We have successfully received your request. Our team will get back to you shortly !!</th>
                              </tr>
                          </thead>
                      </table>
                      <tr>
                          <td style="width:100%; text-align:center;">
                              <a href="https://www.akirastack.io" target="_blank" style="background: #151515;color: #ffffff;padding: 0 20px;min-height: 46px;display: inline-block;line-height: 46px;min-width: 180px;max-width: 100%;text-align: center;font-size: 16px;text-transform: uppercase;text-decoration: none;outline: none;border-radius:3px;font-weight: 700;">
                                  Explore Website
                              </a>
                          </td>
                      </tr>
                      <tr>
                          <td style="padding: 20px 0 20px; text-align:center;">
                              <p style="margin-top: 100px; font-family: 400;"> <strong>A Product of Xenonstack</strong> </p>
                          </td>
                      </tr>
                      <tr>
                          <td>
                             <ul style="margin: 16px -8px;padding: 0; text-align:center">
                    <li style="display: inline-block;vertical-align: middle;padding: 0 6px;">
                      <a href="https://www.facebook.com/pg/xenonstack" target="_blank" rel="noreferrer" style="display: block;vertical-align: middle;">
                        <img src="cid:facebook.png" style="width: 40px;height: 40px;" alt="Facebook"/>
                      </a>
                      </li>
                      <li style="display: inline-block;vertical-align: middle;padding: 0 6px;">
                        <a href="https://twitter.com/xenonstack/" target="_blank" rel="noreferrer"  style="display: block;vertical-align: middle;">
                            <img src="cid:twitter.png" style="width: 40px;height: 40px;" alt="Twitter"/>
                        </a>
                      </li>
                      <li style="display: inline-block;vertical-align: middle;padding: 0 6px;">
                          <a href="https://www.linkedin.com/showcase/akirastack/"  target="_blank" rel="noreferrer"  style="display: block;vertical-align: middle;">
                              <img src="cid:linkedin.png" style="width: 40px;height: 40px;" alt="LinkedIn"/>
                          </a>
                      </li>
                    </ul>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
      </tbody>
  </table>
</body>
</html>
